div.row div, div.row-offset div{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.row div{
    margin: 1px;
}

div.row-offset div{
    margin-bottom: 2px;
}

.container{
    margin-bottom: 25px;
}

[class*="col-"]{
    background-color:green;
    height: 30px;
}

.inside-box{
    height: 60%;
    width: 40%;
    background-color: blue;
}